body{
    background-image: linear-gradient(to right , #00afd1, #00d67a);
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2.7px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    /* display: block; */
}
li{
    display: block;
}
.parent{
    
height: 400px;
width: 250px;
margin: 20px auto;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows:  80px;
background-color: #eee;
gap: 2px;
font-size: 20px;
}
.parent li{
    background-color: #ddd;
    font-weight: bold;
}

.parent li:not(.parent li:nth-child(1)){
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent li:nth-child(1){
    grid-area: 1/ 1/ 1/ 5;
    background-color: #012e2d; 
    color: white;
    font-size: 20px;
    padding: 5px;
}
.parent li:nth-child(2){
    grid-area: 2/ span 2; 
}
.parent li:last-child{
    grid-area: 6/ 3 / 7 / span 2;
}
